extends template 
block content
  section.hero
      .container
        h1.hero-title Crush The Sofash
        h1.hero-title הבילוי המושלם לסופ"ש
        p.hero-description אתר שמסייע לכם למצוא את הבילוי האולטימטיבי לסופ"ש 
        .options
          a.btn.btn-primary(href='/signUp') Sign Up
          a.btn.btn-secondary(href='/login') Login
      footer
        .footer-container
          p.footer-text &copy; 2023 Crush The Sofash. All rights reserved.