<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crush the Sofash - Home</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <img src="Logo.png" alt="Logo" class="logo">
    <section class="hero">
        <div class="container">
            <h1 class="hero-title">Crush The Sofash</h1>  
            <h1 class="hero-title">הבילוי המושלם לסופ"ש</h1>
            <p class="hero-description"> האתר שמסייע לכם למצוא את הבילוי האולטימטיבי לסופ"ש </p>
            <div class="options">
            <a href="/signUp" class="btn btn-primary">Sign Up</a>
            <a href="/login" class="btn btn-secondary">Login</a>
            </div>
        </div>
    </section>

    <footer>
            <div class="footer-container">
            <p class="footer-text">&copy; 2023 Crush The Sofash. All rights reserved.</p>
            </div>
    </footer>
</body>
</html>
