extends template 
block content
  nav.navbar
    .navbar-links
        a(href='/') Log Out
        a(href='/main') Search
  #containerActivities.container
    h1 Favorites
        // סוג בילוי 1
    .activity
        h2 באולינג
        .places
        .place
            h3 באולינג סיטי
            a(href='https://www.citybowling.co.il/', target='_blank')
            img(src='https://shorturl.at/uR379', alt='מקום 1')
        .place
            h3 באולינג ריפליי
            a(href='https://replayb.co.il/', target='_blank')
            img(src='https://shorturl.at/stwEK', alt='מקום 2')
        // סוג בילוי 2
        .activity
        h2 סרט
        .places
        .place
            h3 יס פלאנט
            a(href='https://www.google.com/search?q=מקום+3', target='_blank')
            img(src='https://shorturl.at/uBFK0', alt='מקום 3')
        .place
            h3 סינימה סיטי
            a(href='https://www.cinema-city.co.il/', target='_blank')
            img(src='https://shorturl.at/bvBT2', alt='מקום 4')