<!-- myPlaces.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Places</title>
</head>

<body>
    <img src="Logo.png" alt="Logo" class="logo">
    <nav class="navbar">
        <div class="navbar-links">
        <a href="/">Log Out</a>
        <a href="/main">Main</a>
        </div>
    </nav>

    <div class="container" id="containerActivities">
        <h1>מקומות שאהבת</h1>

        <!-- סוג בילוי 1 -->
        <div class="activity">
            <h2>סוג בילוי 1</h2>
            <div class="places">
            <div class="place">
                <h3>מקום 1</h3>
                <a href="https://www.google.com/search?q=מקום+1" target="_blank">
                <img src="https://shorturl.at/uR379" alt="מקום 1">
                </a>
            </div>
            <div class="place">
                <h3>מקום 2</h3>
                <a href="https://www.google.com/search?q=מקום+2" target="_blank">
                <img src="place2.jpg" alt="מקום 2">
                </a>
            </div>
            </div>
        </div>

        <!-- סוג בילוי 2 -->
        <div class="activity">
            <h2>סוג בילוי 2</h2>
            <div class="places">
            <div class="place">
                <h3>מקום 3</h3>
                <a href="https://www.google.com/search?q=מקום+3" target="_blank">
                <img src="place3.jpg" alt="מקום 3">
                </a>
            </div>
            <div class="place">
                <h3>מקום 4</h3>
                <a href="https://www.google.com/search?q=מקום+4" target="_blank">
                <img src="place4.jpg" alt="מקום 4">
                </a>
            </div>
            </div>
        </div>

        <!-- Add more activities here -->

    </div>
</body>

</html>
