<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <script defer src="script.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <img src="Logo.png" alt="Logo" class="logo">
    <a href="/" class="home-link">Home</a>
    <div class="container">
        <h1>Sign Up</h1>
        <form id="signup-form" action="/formSignup" method="POST">
            <div class="form-group">
                <label for="userName">Name</label>
                <input type="text" id="userName" name="userName" required>
            </div>

            <div class="form-group">
                <label for="userEmail">Email</label>
                <input type="email" id="userEmail" name="userEmail" required>
            </div>

            <div class="form-group">
                <label for="userPassword">Password</label>
                <div class="password-wrapper">
                    <input type="password" id="userPassword" name="userPassword" required>
                    <i class="toggle-password fas fa-eye" onmousedown="togglePasswordVisibility(event)" onmouseup="togglePasswordVisibility(event)"></i>
                </div>
            </div>

            <button type="submit">Sign Up</button>
        </form>
        <div class="login-container">
            <p class="login-text">Already have an account?</p>
            <button id="login-button" onclick="loginButtonFunc()">Login</button>
        </div>
    </div>
</body>
</html>
